* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}

#turnDisplay {
    margin-bottom: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    margin-bottom: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 3px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    color: black; /* This will make the X's and O's black */
}

.winning-message {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.winning-message.active {
    display: flex;
}

#restartButton {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1em;
}

#restartButton:hover {
    background-color: #555;
}
